.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.6rem;
  border-radius: var(--radius-s);
  border: none;
  background: var(--primary);
  color: var(--primary-contrast);
  font-size: clamp(1.4rem, 1.2vw, 1.6rem);
  font-weight: 600;
  cursor: pointer;
  transition: none;

  &.primary,
  &.secondary,
  &.ghost,
  &.danger,
  &.icon {
    background: var(--primary);
    color: var(--primary-contrast);
    border: none;
  }

  &.icon {
    display: flex;
    gap: 0.8rem;
    padding: 1rem 1.6rem;
    border-radius: var(--radius-full);
  }

  &:hover,
  &:focus,
  &:active {
    background: var(--primary);
    color: var(--primary-contrast);
  }
}

