@use './styles/tokens' as *;

// App specific styles
.app-container {
  min-height: 100vh;
  width: 100%;
  background: var(--app-bg);
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 8rem;
}
